@page "/instructors/{id}"

<h1>Details</h1>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            LastName
        </dt>
        <dd class="col-sm-10">
            @if (InstructorDetailsViewModel.Instructor != null)
            {
                @InstructorDetailsViewModel.Instructor.LastName
            }
        </dd>
        <dt class="col-sm-2">
            FirstName
        </dt>
        <dd class="col-sm-10">
            @if (InstructorDetailsViewModel.Instructor != null)
            {
                @InstructorDetailsViewModel.Instructor.FirstName
            }
        </dd>
        <dt class="col-sm-2">
            HireDate
        </dt>
        <dd class="col-sm-10">
            @if (InstructorDetailsViewModel.Instructor != null)
            {
                @InstructorDetailsViewModel.Instructor.HireDate.ToShortDateString()
            }
        </dd>
    </dl>
</div>
<div>
    <MudIconButton Link="/instructors"
                   Variant="Variant.Filled"
                   Icon="fas fa-arrow-circle-left"
                   Color="Color.Primary">
    </MudIconButton>
    @if (InstructorDetailsViewModel.Instructor != null)
    {
        <a href=@($"/instructors/edit/{InstructorDetailsViewModel.Instructor.InstructorID}")>Edit</a>
    }
</div>