@page "/instructors/edit/{id}"

<h1>Edit</h1>

<h4>Instructor</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <EditForm Model=@InstructorEditViewModel.UpdateInstructorCommand OnSubmit=@InstructorEditViewModel.FormSubmitted>
                <div class="form-group">
                    <label for="LastName">LastName</label>
                    <InputText @bind-Value=InstructorEditViewModel.UpdateInstructorCommand.LastName class="form-control" id="LastName" />
                    <ValidationMessage For="() => InstructorEditViewModel.UpdateInstructorCommand.LastName" />
                </div>
                <div class="form-group">
                    <label for="FirstName">FirstName</label>
                    <InputText @bind-Value=InstructorEditViewModel.UpdateInstructorCommand.FirstName class="form-control" id="FirstName" />
                    <ValidationMessage For="() => InstructorEditViewModel.UpdateInstructorCommand.FirstName" />
                </div>
                <div class="form-group">
                    <label for="HireDate">HireDate</label>
                    <InputDate @bind-Value=InstructorEditViewModel.UpdateInstructorCommand.HireDate class="form-control" id="HireDate" />
                    <ValidationMessage For="() => InstructorEditViewModel.UpdateInstructorCommand.HireDate" />
                </div>
                <div class="form-group">
                    <label for="OfficeLocation">OfficeLocation</label>
                    <InputText @bind-Value=InstructorEditViewModel.UpdateInstructorCommand.OfficeLocation class="form-control" id="OfficeLocation" />
                    <ValidationMessage For="() => InstructorEditViewModel.UpdateInstructorCommand.OfficeLocation" />
                </div>
                <input type="submit" value="Update" class="btn btn-primary" />
            </EditForm>
        </form>
    </div>
</div>

<div>
    <a href="/instructors">Back to List</a>
</div>