<MudDialog>
    <DialogContent>
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    Title
                </dt>
                <dd class="col-sm-8">
                    @if (CourseDetailsViewModel.Course != null)
                    {
                        @CourseDetailsViewModel.Course.Title
                    }
                </dd>
                <dt class="col-sm-4">
                    Credits
                </dt>
                <dd class="col-sm-8">
                    @if (CourseDetailsViewModel.Course != null)
                    {
                        @CourseDetailsViewModel.Course.Credits
                    }
                </dd>
                <dt class="col-sm-4">
                    DepartmentID
                </dt>
                <dd class="col-sm-8">
                    @if (CourseDetailsViewModel.Course != null)
                    {
                        @CourseDetailsViewModel.Course.DepartmentID
                    }
                </dd>
            </dl>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Ok</MudButton>
    </DialogActions>
</MudDialog>