@page "/courses"

<h2>Courses</h2>

<p>
    <a href="/courses/create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CourseID
            </th>
            <th>
                Title
            </th>
            <th>
                Credits
            </th>
            <th>
                DepartmentName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (CoursesViewModel.coursesOverview != null)
        {
            @foreach (var item in CoursesViewModel.coursesOverview.Courses)
            {
                <tr>
                    <td>
                        @item.CourseID
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Credits
                    </td>
                    <td>
                        @item.DepartmentName
                    </td>
                    <td>
                        <a href=@($"/courses/edit/{item.CourseID}")>Edit</a> |
                        <a href=@($"/courses/{item.CourseID}")>Details</a> |
                        <a @onclick=@(e => CoursesViewModel.DeleteCourse(item.CourseID, item.Title))>Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>