
<MudDialog>
    <DialogContent>
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    Name
                </dt>
                <dd class="col-sm-8">
                    @if (DepartmentDetailsViewModel.Department != null)
                    {
                        @DepartmentDetailsViewModel.Department.Name
                    }
                </dd>
                <dt class="col-sm-4">
                    Budget
                </dt>
                <dd class="col-sm-8">
                    @if (DepartmentDetailsViewModel.Department != null)
                    {
                        @DepartmentDetailsViewModel.Department.Budget.ToString("F")
                    }
                </dd>
                <dt class="col-sm-4">
                    StartDate
                </dt>
                <dd class="col-sm-8">
                    @if (DepartmentDetailsViewModel.Department != null)
                    {
                        @DepartmentDetailsViewModel.Department.StartDate.ToShortDateString()
                    }
                </dd>
                <dt class="col-sm-4">
                    AdministratorName
                </dt>
                <dd class="col-sm-8">
                    @if (DepartmentDetailsViewModel.Department != null)
                    {
                        @DepartmentDetailsViewModel.Department.AdministratorName
                    }
                </dd>
            </dl>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Ok</MudButton>
    </DialogActions>
</MudDialog>
