@page "/departments"

<h2>Departments</h2>

<p>
    <MudIconButton Link="/departments/create"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary">
    </MudIconButton>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Budget
            </th>
            <th>
                StartDate
            </th>
            <th>
                AdministratorName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (DepartmentsViewModel.departmentsOverview != null)
        {
            @foreach (var item in DepartmentsViewModel.departmentsOverview?.Departments)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Budget.ToString("F")
                    </td>
                    <td>
                        @item.StartDate.ToShortDateString()
                    </td>
                    <td>
                        @item.AdministratorName
                    </td>
                    <td>
                        <a href=@($"/departments/edit/{item.DepartmentID}")>Edit</a> |
                        <a href=@($"/departments/{item.DepartmentID}")>Details</a> |
                        <a @onclick=@(e => DepartmentsViewModel.DeleteDepartment(item.DepartmentID, item.Name))>Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
