@page "/departments/create"

<h1>Create</h1>

<h4>Department</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <EditForm Model=@DepartmentCreateViewModel.CreateDepartmentCommand OnSubmit=@DepartmentCreateViewModel.FormSubmitted>
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="Name">Name</label>
                <InputText @bind-Value=DepartmentCreateViewModel.CreateDepartmentCommand.Name class="form-control" id="Name" />
                <ValidationMessage For="() => DepartmentCreateViewModel.CreateDepartmentCommand.Name" />
            </div>
            <div class="form-group">
                <label for="Budget">Budget</label>
                <InputNumber @bind-Value=DepartmentCreateViewModel.CreateDepartmentCommand.Budget class="form-control" id="Budget" />
                <ValidationMessage For="() => DepartmentCreateViewModel.CreateDepartmentCommand.Budget" />
            </div>
            <div class="form-group">
                <label for="StartDate">StartDate</label>
                <InputDate @bind-Value=DepartmentCreateViewModel.CreateDepartmentCommand.StartDate class="form-control" id="StartDate" />
                <ValidationMessage For="() => DepartmentCreateViewModel.CreateDepartmentCommand.StartDate" />
            </div>
            <div class="form-group">
                <label for="InstructorID">InstructorID</label>
                <CustomInputSelect @bind-Value=DepartmentCreateViewModel.CreateDepartmentCommand.InstructorID class="form-control" id="InstructorID">
                    @if (DepartmentCreateViewModel.InstructorsLookup != null)
                    {
                        @foreach (var instructor in DepartmentCreateViewModel.InstructorsLookup.Instructors)
                        {
                            <option value="@instructor.ID">@instructor.FullName</option>
                        }
                    }
                </CustomInputSelect>
                <ValidationMessage For="() => DepartmentCreateViewModel.CreateDepartmentCommand.InstructorID" />
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </EditForm>
    </div>
</div>

<div>
    <a href="/departments">Back to List</a>
</div>
