@page "/departments/edit/{id}"

<h1>Edit</h1>

<h4>Department</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <EditForm Model=@DepartmentEditViewModel.UpdateDepartmentCommand OnSubmit=@DepartmentEditViewModel.FormSubmitted>
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="Name">Name</label>
                <InputText @bind-Value=DepartmentEditViewModel.UpdateDepartmentCommand.Name class="form-control" id="Name" />
                <ValidationMessage For="() => DepartmentEditViewModel.UpdateDepartmentCommand.Name" />
            </div>
            <div class="form-group">
                <label for="Budget">Budget</label>
                <InputNumber @bind-Value=DepartmentEditViewModel.UpdateDepartmentCommand.Budget class="form-control" id="Budget" />
                <ValidationMessage For="() => DepartmentEditViewModel.UpdateDepartmentCommand.Budget" />
            </div>
            <div class="form-group">
                <label for="StartDate">StartDate</label>
                <InputDate @bind-Value=DepartmentEditViewModel.UpdateDepartmentCommand.StartDate class="form-control" id="StartDate" />
                <ValidationMessage For="() => DepartmentEditViewModel.UpdateDepartmentCommand.StartDate" />
            </div>
            <div class="form-group">
                <label for="InstructorID">InstructorID</label>
                <CustomInputSelect @bind-Value=DepartmentEditViewModel.UpdateDepartmentCommand.InstructorID class="form-control" id="InstructorID">
                    @if (DepartmentEditViewModel.InstructorsLookup != null)
                    {
                        @foreach (var instructor in DepartmentEditViewModel.InstructorsLookup.Instructors)
                        {
                            <option value="@instructor.ID">@instructor.FullName</option>
                        }
                    }
                </CustomInputSelect>
                <ValidationMessage For="() => DepartmentEditViewModel.UpdateDepartmentCommand.InstructorID" />
            </div>
            <input type="submit" value="Update" class="btn btn-primary" />
        </EditForm>
    </div>
</div>

<div>
    <a href="/departments">Back to List</a>
</div>
