<div>
    <img src="@FileName" class="border" style="max-height: 200px; max-width: 200px; height: auto; width: auto; " />
</div>

@code {

private string _fileName;
private const string emptyUrl = "img/person.png";

[Parameter]
public string FileName
{
    get
    {
        if (!string.IsNullOrWhiteSpace(_fileName))
        {
            return string.Concat("api/File/",_fileName);
        }
        else
        {
            return emptyUrl;
        }
    }
    set
    {
        _fileName = value;
    }
}

}
