@page "/students"

<h1>Students</h1>

<p>
    <MudIconButton Link="/students/create"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary">
    </MudIconButton>
</p>

<div class="form-actions no-color">
    <p>
        Find by name: <input type="text" name="searchString" @bind="StudentsViewModel.StudentsOverview.CurrentFilter" />
        <button type="button" class="btn btn-link" @onclick="StudentsViewModel.Filter">Search</button>|
        <button type="button" class="btn btn-link" @onclick="StudentsViewModel.BackToFullList">Back to Full List</button>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a @onclick="StudentsViewModel.SortByLastName">Last Name</a>
            </th>
            <th>
                First Name
            </th>
            <th>
                <a @onclick="StudentsViewModel.SortByEnrollmentDate">Enrollment Date</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (StudentsViewModel.StudentsOverview != null)
        {
            @foreach (var student in StudentsViewModel.StudentsOverview.Students)
            {
                <tr>
                    <td>
                        @student.LastName
                    </td>
                    <td>
                        @student.FirstName
                    </td>
                    <td>
                        @student.EnrollmentDate.ToShortDateString()
                    </td>
                    <td>
                        <a href=@($"/students/edit/{student.StudentID}")>Edit</a> |
                        <a href=@($"/students/{student.StudentID}")>Details</a> |
                        <a @onclick=@(e => StudentsViewModel.DeleteStudent(student.StudentID, $"{student.FirstName} {student.LastName}"))>Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (StudentsViewModel.StudentsOverview != null && StudentsViewModel.StudentsOverview.HasPreviousPage)
{
    <button type="button" @onclick="StudentsViewModel.PreviousPage" class="btn btn-link">
        Previous
    </button>
}

@if (StudentsViewModel.StudentsOverview != null && StudentsViewModel.StudentsOverview.HasNextPage)
{
    <button type="button" @onclick="StudentsViewModel.NextPage" class="btn btn-link">
        Next
    </button>
}