@page "/students/create"

<h1>Create</h1>

<h4>Student</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <EditForm Model=@StudentCreateViewModel.CreateStudentCommand OnSubmit=@StudentCreateViewModel.FormSubmitted>
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="LastName">LastName</label>
                <InputText @bind-Value=StudentCreateViewModel.CreateStudentCommand.LastName class="form-control" id="LastName" />
                <ValidationMessage For="() => StudentCreateViewModel.CreateStudentCommand.LastName" />
            </div>
            <div class="form-group">
                <label for="FirstName">FirstName</label>
                <InputText @bind-Value=StudentCreateViewModel.CreateStudentCommand.FirstName class="form-control" id="FirstName" />
                <ValidationMessage For="() => StudentCreateViewModel.CreateStudentCommand.FirstName" />
            </div>
            <div class="form-group">
                <label for="EnrollmentDate">EnrollmentDate</label>
                <InputDate @bind-Value=StudentCreateViewModel.CreateStudentCommand.EnrollmentDate class="form-control" id="EnrollmentDate" />
                <ValidationMessage For="() => StudentCreateViewModel.CreateStudentCommand.EnrollmentDate" />
            </div>
            <MudIconButton Link="/students"
                           Title="Back to list"
                           Variant="Variant.Filled"
                           Icon="fas fa-arrow-circle-left"
                           Color="Color.Primary">
            </MudIconButton>
            <input type="submit" value="Create" class="btn btn-primary" />
        </EditForm>
    </div>
</div>

<div>
    <a href="/students">Back to List</a>
</div>
